cloudinary==1.32.0
firebase_admin==6.1.0
Flask==2.2.2
opencv_contrib_python==4.7.0.68
opencv_python==4.7.0.68
Pyrebase4==4.6.0
Requests==2.28.2
torch==1.13.1
torchvision==0.14.1
ultralytics==8.0.53
Werkzeug==2.2.2
